@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar{
    overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

li {
  display: inline;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}



#bg {
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  position: absolute;

  color: #f1f1f1; /* Grey text */
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: black;
}
table, th, td {
     border-collapse: collapse;
     border: 5px solid black;
     text-align: center;
     cursor:pointer;

}
 table {
     border-collapse: collapse;
     width:100%;
}
 td, th {
     border: 1px solid #999;
     padding: 0.5rem;
     text-align: left;
     cursor:pointer;
     
}


 th {
     font-weight: bold;
}

.selected {
            background-color: #dc3545;
            color:white;
}
