@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;


}

.text-muted{
    font-weight: bold;
    color: black;

}
.navbar-brand{
    font-weight: bold;
    color: black;

}

.nav-item{
    font-weight: bold;
    color: black;

}

.option{
    font-weight: bold;


}

a {
  display: inline;
  padding: 8px;
  background-color: #CD853F;
}

a:hover {
  background-color: rgba(61, 36, 3, 0.705);
}

.sec-title{
    text-align: left
}

#bg {
  top: 0; 
  left: 0; 

  object-fit: cover;	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  position: absolute;

  color: #080808; /* Grey text */
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  font-family: oblique;
}
.footer {
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: Peru ;
}
table, th, td {
     border-collapse: separate;
     border: 5px solid black;
     text-align: center;
     cursor:pointer;

}
 table {
     border-collapse: collapse;
     width:100%;
}
 td, th {
     border: 1px solid #999;
     padding: 0.5rem;
     text-align: left;
     cursor:pointer;
     
}


 th {
     font-weight: bold;
}

.selected {
            background-color: #dc3545;
<<<<<<< HEAD
            color:rgb(44, 39, 39);

}
=======
<<<<<<< HEAD
            color:white;
=======
            color:red;
>>>>>>> a2a9ed274f63ba48b18aa9b9e088ee4a414f09d2
}
>>>>>>> b504cb0f55c1a63bbe1bca18c8cc356d414ff80e
